.user-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('../../assets/dogbones.png');
}

.user-info-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #042c54;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-info-header {
    border-bottom: 1px solid hsla(210, 91%, 17%, 0.2);
    font-size: 28px;
    color: #042c54;
    padding-bottom: 25px;
}

.user-info-subheader {
    color: #042c54;
    padding-bottom: 10px;
}

.user-info-row {
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid hsla(210, 91%, 17%, 0.2);
    gap: 20px;
}

.user-info-input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid hsla(210, 91%, 17%, 0.4);
    padding: 15px 10px;
    font-size: 16px;
}

.user-info-input::placeholder {
    color: hsla(210, 91%, 17%, 0.4);
    font-style: italic;
}

.user-info-edit-button {
    cursor: pointer;
}

.user-info-utilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 25px;
}

.user-info-utilities-button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #042c54;
    color: white;
    font-size: 16px;
    transition: 0.2s;
    box-shadow: 0px 0px 5px 0px hsla(210, 91%, 17%, 0.4);
}

.user-info-utilities-button:hover {
    background-color: white;
    color: #042c54;
}

.user-info-utilities-button:active {
    box-shadow: 0px 0px 5px 0px hsla(210, 91%, 17%, 0.2);
}

.user-info-utilities-button:disabled {
    cursor: not-allowed;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: hsla(210, 91%, 17%, 0.4);
    color: white;
    font-size: 16px;
    transition: 0.2s;
    box-shadow: none;
}