.user-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}