.about {
    display: flex;
    flex-direction: row;
    padding: 150px 180px;
    height: 85vh;
    background-color: white;
    background-image: url('../../assets/dogbones.png');
}
.about__title {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 120px;
}
.about__title h1 {
    font-size: 36px;
    color: #042c54;
    padding: 20px;
}
.about__introduction p {
    font-size: 18px;
    line-height: 1.5;
    color: hsla(210, 91%, 17%, 0.7);
    background-color: hsla(0, 0%, 100%, 0.3);
    padding: 20px;
}
.about__image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.about__image img {
    width: 500px;
    object-fit: cover;
    border: 5px solid #042c54;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about__button {
    padding: 20px;
    display: flex;
    align-items: end;
}
.about__button button {
    width: 175px;
    height: 50px;
    border: transparent;
    font-size: 17px;
    border-radius: 25px;
    background-color: #042c54;
    color: #A1CCE4;
    cursor: pointer;
    transition: background-color 0.2s, color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about__button button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #042c54;
    color: #042c54;
}

.about__button button:active {
    background-color: hsla(210, 91%, 17%, 0.8);
    border: 2px solid #042c54;
    color: #A1CCE4;
}

.slide-top-title {
	-webkit-animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-top-introduction {
	-webkit-animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
	        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.1s both;
}
.slide-top-button {
	-webkit-animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
	        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-120px);
              transform: translateY(-120px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-120px);
              transform: translateY(-120px);
    }
  }

@media screen and (max-width: 1366px) {
    .about {
        display: flex;
        flex-direction: row;
        padding: 150px 150px;
        height: 85vh;
    }
    .about__title {
        width: 100%;
        padding-top: 120px;
    }
    .about__title h1 {
        font-size: 32px;
    }
    .about__introduction p {
        font-size: 17px;
    }
    .about__image {
        width: 100%;
    }
    .about__image img {
        width: 450px;
        object-fit: cover;
        border: 5px solid #042c54;
        border-radius: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .about__button {
        padding: 20px 20px;
    }
    .about__button button {
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1280px) {
    .about {
        display: flex;
        flex-direction: row;
        padding: 150px 150px;
        height: 85vh;
    }
    .about__title {
        width: 100%;
        padding-top: 100px;
    }
    .about__title h1 {
        font-size: 28px;
    }
    .about__introduction p {
        font-size: 16px;
    }
    .about__image {
        width: 100%;
    }
    .about__image img {
        width: 380px;
        object-fit: cover;
        border: 5px solid #042c54;
        border-radius: 10%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    .about__button {
        padding: 20px 20px;
    }
    .about__button button {
        width: 145px;
        height: 45px;
        font-size: 15px;
    }
}

@media screen and (max-width: 414px) {
    .about__image {
        display: none;
    }
    .about {
        display: flex;
        flex-direction: column;
        padding: 0px 25px;
        height: 87vh;
        align-items: center;
        justify-content: center;
    }
    .about__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
        font-size: 25px;
    }
    .about__introduction p {
        font-size: 17px;
        line-height: 1.5;
        color: hsla(210, 91%, 17%, 0.7);
        background-color: hsla(0, 0%, 100%, 0.3);
        padding: 20px;
        text-align: center;
    }
    .about__button {
        padding: 20px 20px;
    }
    .about__button button {
        width: 150px;
        height: 50px;
        font-size: 17px;
    }
}