a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    background-color: #a1cde4;
    display: flex;
    padding: 25px 50px;
    color: #042c54;
    align-items: center;
    height: 15vh;
    position: relative;
    width: 100%;
    z-index: 1;
}

.navbar__title {
    font-size: 32px;
    display: flex;
    align-items: center;
}

.navbar__menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 17px;
    gap: 35px;
    align-items: center;
}

.navbar__menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.navbar__menu-item:hover svg {
    display: block;
}

.navbar__menu-item svg {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
}

.navbar__logo {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

.navbar__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar__menu-button {
    width: 110px;
    height: 45px;
    border: transparent;
    font-size: 17px;
    border-radius: 25px;
    background-color: #042c54;
    color: #A1CCE4;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar__menu-button:hover {
    background-color: transparent;
    border: 2px solid #042c54;
    color: #042c54;
}

/* Navbar Dropdown */
.navbar__menu-desktop-toggle {
    position: absolute;
    right: 50px;
    top: 80%;
    background-color: white;
    width: 200px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar__menu-desktop-dropdown {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.navbar__menu-desktop-divider {
    border-top: 1px solid hsla(210, 91%, 17%, 0.2);
    margin: 5px 0px;
}

.navbar__menu-desktop-item {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    list-style-type: none;
    transition: background-color 0.1s;
}

.navbar__menu-desktop-item:hover {
    cursor: pointer;
    background-color: rgba(160, 204, 227, 0.15);
}

.navbar__menu-mobile-toggle {
    display: none;
}

.navbar__menu-mobile-item {
    font-size: 17px;
    padding: 15px;
    width: 90%;
    text-align: center;
}

.navbar__menu-mobile-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: end;
    position: absolute;
    padding: 15px;
    top: 100%;
    right: 0;
    width: 100%;
    font-size: 18px;
    background-color: #a1cde4;
    color: #042c54;
    z-index: 1;
    border-top: 1px solid hsla(210, 91%, 17%, 0.2);
}

.navbar__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.navbar__menu-signed-in-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 7px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s;
    width: 100px;
    justify-content: space-between;
}

.navbar__menu-signed-in-item:hover, .navbar__menu-signed-in-item-active {
    background-color: #ffffff99;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.navbar__menu-signed-in-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* ----------------------------------------------
    * Generated by Animista on 2024-6-1 1:1:40
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
    * ----------------------------------------
    * animation scale-up-center
    * ----------------------------------------
*/
.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1280px) {
    .navbar__title {
        font-size: 28px;
        display: flex;
        align-items: center;
    }

    .navbar__menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        font-size: 16px;
        gap: 35px;
        align-items: center;
    }

    .navbar__menu-button {
        width: 100px;
        height: 45px;
        border: transparent;
        font-size: 16px;
        border-radius: 25px;
        background-color: #042c54;
        color: #A1CCE4;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s ease;
    }

    .navbar__menu-signed-in-item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: background-color 0.3s;
        width: 100px;
        justify-content: space-between;
    }
    .navbar__menu-signed-in-item img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
    }
}

@media screen and (max-width: 414px) {
    .navbar {
        padding: 15px 25px;
        height: 13vh;
    }
    .navbar__menu-mobile-toggle {
        display: block;
        z-index: 2;
    }

    .navbar__menu-item {
        display: none;
    }

    .navbar__menu-signed-in-item {
        display: none;
    }
    .navbar__logo {
        width: 70px;
        height: auto;
        margin-right: 15px;
    }
}
