/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 */

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.navbar {
    background-color: #A1CCE4;
    display: flex;
    padding: 25px 50px;
    color: #042c54;
}

.navbar-title {
    font-size: 35px;
    font-weight: 800;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 18px;
    gap: 35px;
    align-items: center;
}