/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 100 to 900 */
.inter__bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.hubballi-regular {
    font-family: "Hubballi", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.swipe__container {
    background-color: white;
    height: 85vh;
    display: flex;
}

.swipe__subcontainer-left {
    width: 45%;
}

.swipe__subcontainer-right {
    width: 55%;
}

.swipe__subcontainer-left, .swipe__subcontainer-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swipe__subcontainer-description-container {
    background-color: hsla(201, 55%, 76%, 0.300);
    width: 500px;
    height: 600px;
    border-radius: 25px;
    padding: 0px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe__subcontainer-description-container h1 {
    font-size: 30px;
    padding: 25px;
    color: #042c54;
}

.swipe__subcontainer-description {
    background-color: white;
    height: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.swipe__subcontainer-description-paragraph {
    padding: 25px;
    font-size: 21px;
    line-height: 1.5;
    color: hsla(210, 91%, 17%, 0.7);
}

.swipe__subcontainer-description-info p {
    padding: 0px 25px;
    font-size: 21px;
    line-height: 1.5;
    color: hsla(210, 91%, 17%, 0.7);;
}

.swipe__subcontainer-image-container {
    background-color: hsla(201, 55%, 76%, 0.300);
    width: 500px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe__subcontainer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    border: #042c54 5px solid;
}