.swipe__container {
    background-color: white;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../assets/dogbones.png');
}

.swipe__subcontainer {
    display: flex;
    background-color: hsla(210, 91%, 17%, 0.9);
    padding: 8px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px hsla(201, 54%, 76%, 0.5);
}

.swipe__subcontainer-left, .swipe__subcontainer-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swipe__subcontainer-description-container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px 25px 50px 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.swipe__subcontainer-description-container h1 {
    font-size: 30px;
    color: #042c54;
}

.swipe__subcontainer-description {
    height: 100%;
}

.swipe__subcontainer-description-paragraph {
    padding: 25px;
    font-size: 21px;
    line-height: 1.5;
    color: hsla(210, 91%, 17%, 0.7);
}

.swipe__subcontainer-description-info p {
    padding: 0px 25px;
    font-size: 21px;
    line-height: 1.5;
    color: hsla(210, 91%, 17%, 0.7);;
}

.swipe__subcontainer-image-container {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swipe__subcontainer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    pointer-events: none; /* Prevent click events on the image */
}

.swipe__subcontainer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding-top: 30px;
}

.swipe__subcontainer-button {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px hsla(201, 54%, 76%, 0.4);
    cursor: pointer;
    scale: 1.0;
    transition: scale 0.2s; 
}

.swipe__subcontainer-button:hover {
    scale: 1.2;
}

.swipe__subcontainer-button img {
    width: 50px;
    height: 50px;
}

.swipe__subcontainer-buttons-yes-image {
    background-color: rgba(255, 196, 233, 0.5);
}
.swipe__subcontainer-buttons-yes-image:active {
    background-color: rgba(253, 165, 221, 0.5);
}

.swipe__subcontainer-buttons-no-image {
    background-color: rgba(126, 210, 255, 0.5);
}
.swipe__subcontainer-buttons-no-image:active {
    background-color: rgba(92, 196, 252, 0.5);
}

.swipe__subcontainer-buttons-prev-image {
    background-color: rgba(255, 238, 111, 0.5);
}
.swipe__subcontainer-buttons-prev-image:active {
    background-color: rgba(254, 233, 77, 0.5);
}

.out-of-order-msg {
    font-size: 25px;
}

@media screen and (max-width: 1280px) {
    .swipe__subcontainer-description-container {
        width: 400px;
        height: 500px;
    }

    .swipe__subcontainer-image-container {
        width: 400px;
        height: 500px;
    }

    .swipe__subcontainer-description-paragraph {
        font-size: 18px;
    }

    .swipe__subcontainer-description-info p {
        font-size: 18px;
    }
}

@media screen and (max-width: 414px) {
    .swipe__container {
        height: 87vh;
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
    }

    .swipe__subcontainer {
        flex-direction: column;
        height: 670px;
        width: 350px;
        border-radius: 15px;
    }

    .swipe__subcontainer-left, .swipe__subcontainer-right {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .swipe__subcontainer-description-container {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        padding: 10px 15px 0px 15px;
    }

    .swipe__subcontainer-image-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swipe__subcontainer-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        pointer-events: none; /* Prevent click events on the image */
    }

    .swipe__subcontainer-description-container h1 {
        font-size: 25px;
        color: white;
        position: absolute;
        top: 275px;
        padding: 15px;
        background: linear-gradient(to top, black, transparent);
        width: 336px;
        text-align: center;

    }

    .swipe__subcontainer-description {
        width: 100%;
    }

    .swipe__subcontainer-description-paragraph {
        font-size: 16px;
        width: 100%;
        padding: 10px 0px 0px 0px;
        line-height: 1.3;
    }

    .swipe__subcontainer-description-info p {
        font-size: 16px;
        width: 100%;
        padding: 0px 0px 0px 0px;
        line-height: 1.3;
    }

    .swipe__subcontainer-buttons {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .swipe__subcontainer-button {
        width: 50px;
        height: 50px;
    }

    .swipe__subcontainer-button img {
        width: 40px;
        height: 40px;
    }
}