body {
    background-color: #A1CCE4;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@media screen and (max-width: 700px) {
    .section-padding {
        padding: 4rem;
    }
    .section-margin {
        margin: 4rem;
    }
}
@media screen and (max-width: 550px) {
    .section-padding {
        padding: 4rem 2rem;
    }
    .section-margin {
        margin: 4rem 2rem;
    }
}
