.safety {
    background-color: #042c54;
    padding: 100px 180px 100px 180px;
}
.safety__container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.safety__title {
    font-weight: 700;
    color: #A1CCE4;
}
.safety__content {
    display: flex;
    padding-top: 50px;
    row-gap: 50px;
    column-gap: 90px;
    flex-wrap: wrap;
}
.safety__content__item {
    flex: 1 1 0; 
    max-width: 40%; 
    min-width: 40%; 
} 
.safety__content__item li {
    padding-bottom: 25px;
    color: hsla(201, 55%, 76%, 0.8);
    line-height: 1.5;
    list-style-type: none;
}
.safety__content__item-title {
    color: #A1CCE4;
    padding: 20px 0px;
    font-size: 24px;
    border-top: 1px solid #A1CCE4;
}
@media screen and (max-width: 2000px) {
    .safety {
        padding: 100px 180px 100px 180px;
    }
}
@media screen and (max-width: 1200px) {
    .safety {
        padding: 100px 180px 100px 180px;
    }
    .safety__content {
        column-gap: 100px;
    }
    .safety__content__item {
        flex: 1 1 250px;
        max-width: 250px;
    }
    .safety__content__item-title {
        font-size: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .safety {
        padding: 50px 100px 80px 100px;
    }
    .safety__content {
        column-gap: 100px;
    }
    .safety__content__item {
        flex: 1 1 200px;
        max-width: 200px;
    }
    .safety__content__item-title {
        font-size: 18px;
    }
}
@media screen and (max-width: 800px) {
    .safety {
        padding: 50px 80px 80px 80px;
    }
    .safety__title {
        font-size: 25px;
    }
    .safety__content {
        column-gap: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .safety__content__item {
        flex: 1 1 120px;
        max-width: 100%;
    }
    .safety__content__item-title {
        font-size: 20px;
    }
    .safety__content__item__description {
        font-size: 16px;
    }
}
@media screen and (max-width: 700px) {
    .safety {
        padding: 20px 50px 50px 50px;
    }
    .safety__title {
        font-size: 25px;
    }
    .safety__content {
        column-gap: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .safety__content__item {
        flex: 1 1 120px;
        max-width: 100%;
    }
    .safety__content__item-title {
        font-size: 20px;
    }
    .safety__content__item__description {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .safety {
        padding: 20px 30px 50px 30px;
    }
    .safety__title {
        font-size: 25px;
    }
    .safety__content {
        column-gap: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .safety__content__item {
        flex: 1 1 120px;
        max-width: 100%;
    }
    .safety__content__item-title {
        font-size: 20px;
    }
    .safety__content__item__description {
        font-size: 16px;
    }
}